configuration {
  modi: "drun,run,window";
  show-icons: true;
  terminal: "alacritty";
  drun-display-format: "{icon} {name}";
  display-drun: "Applications";
  display-run: "Run";
  display-window: "Windows";
  font: "JetBrainsMono Nerd Font 12";
}

@theme "themes/desktop.rasi"
