* {
  background: #252523;
  background-alt: rgba(37,37,35, 0.72);
  foreground: #F2F0E2;
  selected: #BBB695;
  urgent: #D9D3AD;
  active: #9D997D;
  border-color: #BBB695;

  color0: #4B4A49;
  color1: #49473A;
  color2: #605D4C;
  color3: #76735E;
  color4: #8C8870;
  color5: #A39E82;
  color6: #A39E82;
  color7: #E4E1CE;
  color8: #9F9D90;
  color9: #625F4E;
  color10: #807C65;
  color11: #9D997D;
  color12: #BBB695;
  color13: #D9D3AD;
  color14: #D9D3AD;
  color15: #E4E1CE;
}
